ENV=development

#SERVER
PORT=3002
SERVER_URL=http://localhost:3002

#Database local
DATABASE_URL="mongodb://localhost:27017/base"
# DATABASE_URL="mongodb://localhost:27017/testing"

#Migration
MIGRATE_MONGO_URI="mongodb://localhost:27017/testing"
MIGRATE_AUTOSYNC="true"

#BCRYPT
SALT_ROUNDS="10"

#EMAIL_SERVICE
EMAIL_SERVICE_API_KEY=""

#tokens
ACCESS_TOKEN_SECRET="re_goz5Fczk..."
REFRESH_TOKEN_SECRET=""